<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Live Overlay</title>
    <link href="./main.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;700&display=swap" rel="stylesheet" />
    <!-- This is a development version of Vue.js -->
    <script src="https://unpkg.com/vue@3.2.14/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3"></script>
    <script src="/lib/reconnecting-websocket.js"></script>
    <script src="/lib/consts.js"></script>
    <script src="/lib/utils.js"></script>
  </head>

  <body class="body">
    <div id="app" class="app" v-cloak>
      <div class="map-info-panel" v-if="isPlaying">
        <p class="title">{{getToken('artistRoman')}}</p>
        <h1 class="title">{{getToken('titleRoman')}}</h1>
        <div class="map-info">
          <p class="mapper info">mapper <strong> {{getToken('creator')}}</strong></p>
        </div>
        <Background :dimcolor="overlaySettings.imageDimColor" class="box">
          <div class="map-info-row">
            <div class="difficulty-info">
              <p class="value-capsule" :style="{'background-color': diffIconColor, 'color': diffNameColor, 'font-weight': 'boldest'}"> 
                <strong>⭐ {{starsNoMod}} {{getToken('diffName')}}</strong></p>
            </div>
          </div>
        </Background>
        <div class="map-info-row">
          <div class="map-info" >
            <p v-if="hasMods"><strong> +{{getToken('mods')}} <strong><strong v-if="starsNoMod !== starsWithMods"> ⭐ {{starsWithMods}}</strong></p>
          </div>
        </div>
        <div class="map-info-row" :class="{hide: overlaySettings.hideMapStats}">
          <div class="map-info"><strong>BPM {{getToken('currentBpm', 2)}}</strong></div>
        </div>
        <div class="map-info-row">
          <div class="map-stats value-capsule" :class="{hide: overlaySettings.hideMapStats}">
            <div><strong>CS {{getToken('mCS')}}</strong></div>
            <div><strong>AR {{getToken('mAR')}}</strong></div>
            <div><strong>OD {{getToken('mOD')}}</strong></div>
            <div><strong>HP {{getToken('mHP')}}</strong></div>
          </div>
        </div>
      </div>
      <div class="score-info-panel" v-if="isPlaying">
        <div class="pp-stats" :class="{hide: overlaySettings.hideMapStats}">
          <div class="current">{{ppValue}}pp</div>
          <div v-if="missCount > 0 || sliderBreakCount > 0">{{getToken('noChokePp',0)}}pp if FC</div>
        </div>
        <table class="hit-stats">
          <tr>
            <td style="color: lightskyblue;"><strong>PERFECT</strong></td>
            <td class="hit">{{getToken('c300')}}</td>
          </tr>
          <tr>
            <td style="color: lightgreen;"><strong>GOOD</strong></td>
            <td class="hit">{{getToken('c100')}}</td></tr>
          <tr>
            <td style="color: lightblue;">BAD</td>
            <td class="hit">{{getToken('c50')}}</td>
          </tr>
          <tr>
            <td style="color: lightseagreen;">SLIDERBREAK</td>
            <td class="hit">{{sliderBreakCount}}</td>
          </tr>
          <tr>
            <td style="color: #EE4B2B;">MISS</td>
            <td class="hit">{{missCount}}</td>
          </tr>
        </table>
      </div>
      <div class="fc-pp-info-panel"  v-if="!isPlaying">
        <table >
          <tr >
            <td class="fc-info-label">Acc</td>
            <td class="fc-info-label hit">PP if FC</td>
          </tr>
          <tr>
            <td><strong>SS</strong></td>
            <td class="hit">{{getToken('osu_mSSPP', 0)}}pp</td>
          </tr>
          <tr>
            <td><strong>99%</strong></td>
            <td class="hit">{{getToken('osu_m99PP', 0)}}pp</td></tr>
          <tr>
            <td>98%</td>
            <td class="hit">{{getToken('osu_m98PP', 0)}}pp</td>
          </tr>
          <tr>
            <td>97%</td>
            <td class="hit">{{getToken('osu_m97PP', 0)}}pp</td>
          </tr>
          <tr>
            <td>96%</td>
            <td class="hit">{{getToken('osu_m96PP', 0)}}pp</td>
          </tr>
      </div>
    </div>
    <script src="./main.js" type="module"></script>
  </body>
</html>
