:root {
    --animation-speed: 1.7s
}
* {
    padding: 0px;
    margin: 0px;
    font-family: comfortaa;
}
.clipPathAnimation{
    transition: clip-path .3s;
}
.box {
    height: 18vh;

    -webkit-box-shadow: inset 0px 0px 28px 4px #0008;
    -moz-box-shadow: inset 0px 0px 28px 4px #0008;
    box-shadow: inset 0px 0px 28px 4px #0008;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    transition: padding var(--animation-speed) ease;
    overflow-y: hidden;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app {
    height: 100vh;
    white-space: nowrap;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.map-info-panel {
    width: 16vw;
    display: flex;
    flex-direction: column;
    background-color: rgba(50,50,50,.9);
    height: 40vh;
    border-radius: 10px;
    border-color: rgba(255,255,255,.9);
    border-width: 3px;
    border-style:  solid;
    padding: 5px;
}

.map-info-row { 
    margin-top: 10px;
    margin-left:20px;
    margin-right: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.map-info {
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-direction: row;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    transition: margin-top var(--animation-speed) ease,
                padding var(--animation-speed) ease;
}

.difficulty-info { 
    padding:  5px;
    justify-content: center;
 }


.map-stats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: end;
    overflow: hidden;
}

.score-info-panel { 
    width:  10vw;
    background-color: rgba(50,50,50,1);
    border-radius: 10px;
    border-color: rgba(255,255,255,.99);
    border-style:  solid;
    border-width: 3px;
    margin-top:  10vh;
    height: 20vh;
    padding: 20px;
    margin-right: 10px;
}

.ss-info-panel { 
    background-color: rgba(50,50,50,1);
    border-radius: 10px;
    border-color: rgba(255,255,255,.99);
    border-style:  solid;
    border-width: 3px;
    margin-top:  10vh;
    height: 35px;
    padding: 20px;
    margin-right: 10px;
    font-size: 25px;
    position: absolute;
    right: 0;
}


.value-capsule {
    border-radius: 15px;
    background: rgba(0,0,0,0.4);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 5px;
    z-index: 99;
    text-overflow: hidden;
}

.title {
    font-size: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: font-size var(--animation-speed) ease;
    margin: 0 5px;
}
.mapper {
    padding-right: 15px;
    flex: 0 1 auto;
    opacity:1;
    transition: flex var(--animation-speed) ease,
                padding var(--animation-speed) ease,
                opacity var(--animation-speed) ease;
}
.box-playing {
    padding-top:2px;
}
.title-playing {
    font-size: 12px;
    transition: font-size var(--animation-speed) ease;
}
.mapinfo-playing {
    padding-bottom: 2px;
    
    transition: margin var(--animation-speed) ease,
                padding var(--animation-speed) ease;
}
.mapinfo-playing > .mapper {
    text-align: left;
    /*opacity:0;*/

    padding-left:5px;
    transition: flex var(--animation-speed) ease,
                padding var(--animation-speed) ease,
                opacity var(--animation-speed) ease;
}
.difficulty{
    transition: padding var(--animation-speed) ease;
}
.mapinfo-playing > .difficulty{
    padding-right:5px;
    transition: padding var(--animation-speed) ease;
}

.flexSpacer{
    flex: 1 1 auto;
}


.ds {
    filter: drop-shadow(0px 0px 5px #0004);
}

.hit {
    align-self: right;
    justify-content: right;
    padding: 5px 9px;
    margin-right: 10px;
    border-radius: 200px;
}

[v-cloak] { display: none; }

.hide {
    display: none;
    z-index: -1;
}

.bottom {
    width: 100%;
    display:flex;
    flex-direction: row;
    
}

  .bottom-content {
    z-index: 9999;
  }

.hits {
    display: flex;
    flex: 1 1 auto;
    margin:5px;
    padding:5px;
    text-align:center;
    margin: -5px 5px 5px 5px;
    font-weight: 600;
}
.current {
    font: bold;
    font-size: 35px;
}

.pp-stats { 
    display: flex;
    flex-direction: column;
    font-size: 25px;
    border-bottom: 2px solid white;
 }

.hit-stats { 
    margin-top: 10px;
 }
.flexEnd{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.mapStats strong{
    float: left;
}

.chart-container{
    position: relative;
    margin-right: 5px;
    margin-left: 1px;
}


@media screen and (max-height: 180px) {
    .mapStats {
      display:none;
    }
  }